*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body {
  margin-top: 0;
  margin: 0;
  overflow-x: hidden; /* added */
  }
  img{
    line-height: 100px;
  }
  nav{
    background-color:#2E6600 ;
    height: 100px;
  }
  
  label.title{
    color:white;
    font-family: 'Koulen', sans-serif;
    font-size: 25px;
    line-height: 60px;
    padding-left: 50px;
  }

  nav.topnav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  img.logo {
    padding-left: 15px;
  }
  
  nav.topnav img.search,
  nav.topnav img.shopping {
    height: 20px; 
    vertical-align: middle;
  }
  
  nav.topnav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: auto; /* Move ul to the right */
    margin-right: 50px; /* Add some spacing from the right */
    align-items: center;
  }
  nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 40px;
  }
  nav ul li a{
    color: black;
    font-family: 'Karla', sans-serif;
  }

  .topnav ul li .btn{
    color:black;
}
.dropdown-item:hover {
  background-color: transparent;
  color: inherit; /* Keep the original text color */
  font-weight: normal; /* Ensure font weight stays the same */
  text-decoration: none; /* Remove underline or any text decoration */
}
.dropdown-menu .dropdown-item{
  color: black;
}


.topnav ul li a, p{
    color:white;
    margin: 20px;
    text-decoration: none;
    cursor: pointer;
}


  