*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body {
  margin-top: 0;
  margin: 0;
  overflow-x: hidden; /* added */
  }
  img{
    line-height: 100px;
  }
  nav{
    background-color:#2E6600 ;
    height: 100px;
  }
  
  label.title{
    color:white;
    font-family: 'Koulen', sans-serif;
    font-size: 25px;
    line-height: 60px;
    padding-left: 50px;
  }
  
  nav.topnav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  img.logo {
    padding-left: 15px;
  }
  
  nav.topnav img.search,
  nav.topnav img.shopping {
    height: 20px; 
    vertical-align: middle;
  }
  
  nav.topnav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: auto; /* Move ul to the right */
    margin-right: 50px; /* Add some spacing from the right */
    align-items: center;
  }
  nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 40px;
  }
  nav ul li a{
    color: white;
    font-family: 'Karla', sans-serif;
  }




  .topnav ul li a, p{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.85;
    transition: 0.5s;
    cursor: pointer;
}
.topnav ul li a, p:hover{
    text-decoration: none;
    opacity: 1;
}
  




  .background img{
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .products p{
    text-align: center;
    padding-top: 120px;
    flex-wrap: wrap;
    font-family:"Istok Web", sans-serif;
    font-size: 40px;
  }
  .products .product-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin: 0 40px 0 60px;
  }
  
  .products .product-items > * {
    flex-basis: calc((100% - 3 * 100px) / 4);
    margin: 0 50px;
    transition: transform 0.3s ease-in-out; /* added transition */
  }
  
  .products .product-items > *:hover {
    transform: scale(1.1); /* added scale animation */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* added box shadow */
  }
  #dropdownMenuLink button{
    background-color: #2E6600;
  }
  
  
  