/* Basic reset */


/* Main content styling */
.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f1f3f6;
    box-sizing: border-box;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card{
    display: flex;
    justify-content: space-around;
}




.edit-btn1,
.edit-btn2,
.edit-btn3,
.edit-btn4,
.edit-btn5,
.delete-btn{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.edit-btn1,
.edit-btn2,
.edit-btn3,
.edit-btn4,
.edit-btn5 {
    background-color: #4CAF50;
}

.delete-btn {
    background-color: #f44336;
    
}

