


.hide .material-icons-outlined{
    display: none;
  }


/* Medium <= 992px */
@media screen and (max-width: 992px) {
    #sidebar.sidebar-hidden {
      transform: translateX(0); /* Sidebar becomes visible on click */
    }
  
    .menu-icon {
      display: flex;
      margin: 20px;
      color: #2e6600;
      position: absolute;
    }

    .menu-icon span{
        color: #2e6600;
    }
      .hide .material-icons-outlined{
    display: inline;
  }
  
  
  }


  @media (max-width: 480px) {
  
    table {
      display: block; /* Enables horizontal scrolling on smaller screens */
      overflow-x: auto;
      white-space: nowrap; /* Prevent cell wrapping */
  }

  table th, 
  table td {
      padding: 12px 8px; /* Adjust padding for smaller screens */
      font-size: 14px; /* Reduce font size for readability */
  }
  
  }
  



  