
.slider {
            width: 100%;
            height: 800px;
            position: relative;
            overflow: hidden;
            background-color: #000; /* Fallback background color */
        }

.slider img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity 1s ease-in-out;
}

.slider .slide {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

.fade {
            opacity: 0;
        }

.fade.in {
            opacity: 1;
        }
